<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlashTyper</title>
    <link rel="stylesheet" href="../stylesheets/alternateStyles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Charm|Cinzel|Spicy Rice|Cormorant Upright|Amita|Special Elite|Cutive Mono"
    />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="nav">
        <a href="/">
          <div class="logoBox">
            <img src="../Assets/logo.png" alt="" class="logoImg" />
            <h1 class="logo"><span>Flash</span>Typer</h1>
          </div>
        </a>

        <div class="navElements">
          <% if (user){ %>
          <a href="/profile" id="userProfile">Profile</a>
          <a href="/logout" id="logout">Logout</a>
          <% } else { %>
          <a href="/login" id="login">Login</a>
          <% } %>
          <a href="/contact-us" id="login">Contact Us</a>
          <a href="/settings">
            <img
              width="24"
              height="24"
              src="https://img.icons8.com/material-sharp/24/settings.png"
              alt="settings"
              id="settings"
            />
          </a>
        </div>
      </div>
      <div class="main">
        <div class="timeSelect">
          <h3>Time:</h3>
          <input
            type="button"
            class="uncheck toBeDisabled"
            value="15"
            id="time15"
          />
          <input
            type="button"
            class="uncheck toBeDisabled"
            value="30"
            id="time30"
          />
          <input
            type="button"
            class="uncheck toBeDisabled"
            value="60"
            id="time60"
          />
          <input
            type="button"
            class="uncheck toBeDisabled"
            value="120"
            id="time120"
          />
          <input type="number" id="chooseTime" placeholder="Custom" />
          <button id="timeOkBtn" class="toBeDisabled">OK</button>
        </div>
        <div id="textBox">
          <div id="timerTxt"></div>
          <div id="sourceTxt" oncopy="return false"></div>
          <input
            type="text"
            id="userTxt"
            oncut="alert(`Refrain From Malpractice`); return false"
            onpaste="alert(`Refrain From Malpractice`); return false"
            oncopy="alert(`Refrain From Malpractice`); return false"
          />
          <img
            width="50"
            height="50"
            src="https://img.icons8.com/ios-filled/50/000000/reboot.png"
            alt="reboot"
            id="reset"
          />
        </div>
        <div class="options">
          <button id="customWordsBtn" class="toBeDisabled">Custom Words</button>
          <a href="/leaderBoard">
            <button id="leaderboardBtn" class="toBeDisabled">
              Leader Board
            </button>
          </a>
          <form action="/layout1" method="post">
            <button type="submit" id="changeLayoutBtn" class="toBeDisabled">
              Change Layout
            </button>
          </form>
        </div>
      </div>
      <div id="resultPage">
        <h1>RESULTS:</h1>
        <div class="resultValues">
          <div>
            <span>Words Per Minute (WPM):</span>
            <span class="calculations"></span>
          </div>
          <div><span>Accuracy: </span> <span class="calculations"></span></div>
          <div>
            <span>Words Typed: </span> <span class="calculations"></span>
          </div>
          <div>
            <span>Correctly Typed: </span> <span class="calculations"></span>
          </div>
          <div>
            <span>Incorrectly Typed: </span> <span class="calculations"></span>
          </div>
          <div>
            <span>Time Taken: </span> <span class="calculations"></span>
          </div>
        </div>
        <button id="resultOkBtn">OK</button>
      </div>
      <div id="transparentBox"></div>
      <div id="customWordsBox">
        <div class="customWordsHeader">
          <p>
            Enter space separated words (No numbers or special characters)<br />Max
            Limit: 1000 words
          </p>
          <img
            id="customX_Btn"
            width="24"
            height="24"
            src="https://img.icons8.com/material-rounded/24/cancel--v1.png"
            alt="cancel--v1"
          />
        </div>
        <textarea id="customWords"></textarea>
        <button id="TextBtn" class="toBeDisabled">OK</button>
      </div>
    </div>
    <script src="../javascripts/alternateScript.js"></script>
  </body>
</html>
